body {
    background-color: #aaa;
}

img {
  border-style: ridge;
  border-color: black;
}

header, footer {
    padding: 1em;
    color: red;
    clear: left;
    text-align: center;
}
h1{
  color: red;
  border-style: dotted;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}
